* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divMain {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 2px;
    padding-top: 9rem;
}

.divMainChild {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 2rem;
}

.card {
    display: inline-flex;
    gap: 1rem;
}

.detail {
    display: flex;
    flex-direction: column;
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 6px;
    width: 26rem;
    height: 90vh;
    margin-bottom: 3rem;
    background-color: black;
    opacity: 0.8;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

input {
    width: 16rem;
    height: 2rem;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    padding-left: 4px;
}

button {
    width: 7rem;
    height: 2rem;
    border-radius: 15px;
    font-size: larger;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    background-color: black;
    cursor: pointer;
}

button:hover {
    color: black;
    background-color: white;
}

.results {
    margin-bottom: 2rem;
}

.resultsListPesonal {
    margin-bottom: 2rem;
}

.contentTrack {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.whiteLine {
    border: 1px solid white;
    margin-bottom: 0.5rem;
}

audio {
    scale: 0.6;
    margin-left: -3.7rem;

}

.title {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    width: 100%;
    color: white;
    background-color: black;
    box-shadow: 0px 3px 20px 1px #111010;
    z-index: 5;
}

@media screen and (max-width: 920px) {
    .detail{
        width: 17rem;
    }
}

@media screen and (max-width: 650px) {
    .detail{
        width: 16rem;
    }
    
    .contentTrack{
        width: 93%;
    }
}

@media screen and (max-width: 565px) {
    .divMain{
        margin-top: 9rem;
    }

    .detail{
        width: 12rem;
        height: 66rem;
    }
    
    .divMainChild{
        gap: 3px;
    }

    .contentTrack{
        width: 93%;
    }

    audio{
        scale: 0.5;
    }
}